*{
    margin: 0;
    padding: 0;
    border: 0;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.sb{
    width: 500px;
    height: 539px;
   background-color: rgb(43, 43, 43);
    border-radius: 4px;
}
h1{
    color: white;
}
.ee{
    width: 498px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(53, 44, 44, 0.799);
    margin-top: 20px;
    text-align: end;
}
input{
    color: white;
}
.b{
    width: 498px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(53, 44, 44, 0.799);
    text-align: end;
}
.pee{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
P{
    color: white;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.bt{
    width: 123px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
}